@mixin transform($propiedad) {
    -webkit-transform: $propiedad;
    -ms-transform: $propiedad;
    transform: $propiedad;    
}

@mixin margenes(){
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;    
}